<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/aboutstyle.css">
    <title>Food Finder</title>
    <style>
        .curved {
            border: none;
            height: 8px;
            background: radial-gradient(circle, #3b3636 30%, #b6b6b671 100%);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            margin: 40px 0;
            width: 100%;
        }
    </style>
</head>

<body class="body">

    <div class="top">
        <a href="{% url 'index' %}">Home</a>
        <a class="github-link" href="https://github.com/Harley2zazaa/Famous-Food_Finder">Github</a>
    </div>
    <div class="Project">
        <h1>My Project</h1>
    </div>
    <div class="about">
        <h1>เว็บสุ่มอาหาร เผื่อท่านใดเบื่อๆหรือไม่รู้ว่ามื้อนี้ จะทานอะไรดีเราขอเสนอบลาๆๆๆๆให้คุณ yaaaaaaaaaa</h1>
    </div><br>
    <hr class="curved">

    <div class="team"> Member </div><br><br>
    <div class="sun">
        <img src="../static/images/sun_edited.png"  width="250px"><br>
        ชื่อ: ภัทรดนัย ศุภลักษณ์เลิศกุล<br>
        ชื่อเล่น: ซัน<br>
        รหัส: 67070126<br>
        เบอร์: 0805169934 <br>
        mail: 67070126@kmitl.ac.th<br>
        facebook: <a href="https://www.facebook.com/hunsu.supalaklertkul">Hunsu Supalaklertkul<br></a>
    </div><br>
    <div class="power">
        <img src="../static/images/power_edited.png" width="250px"><br>
        ชื่อ: เปรมณัช คเชนธร<br>
        ชื่อเล่น: เพาเวอร์<br>
        รหัส: 67070252<br>
        เบอร์: 0649425896 <br>
        mail: 67070252@kmitl.ac.th<br>
        IG: <a href="https://www.instagram.com/po_power/">po_power<br></a>
    </div><br>

    <div class="harley">
        <img src="../static/images/harleyedited.png" width="250px"><br>
        ชื่อ: พันแสน จันทร์เกษม<br>
        ชื่อเล่น: ฮาเล่ย์<br>
        รหัส: 67070259<br>
        เบอร์: 0945598957 <br>
        mail: 67070259@kmitl.ac.th<br>
        facebook: <a href="https://www.facebook.com/harleyzaza2546">Pansaen Changaseom<br></a>
    </div><br>

    <div class="beam">
        <img src="../static/images/beam_edited.png" width="250px"><br>
        ชื่อ: วชิรวิชญ์ งามพาณิชยกิจ<br>
        ชื่อเล่น: บีม<br>
        รหัส: 67070274<br>
        เบอร์: 0993834136 <br>
        mail: 67070274@kmitl.ac.th<br>
        facebook: <a href="https://www.facebook.com/profile.php?id=100014164754616">Pansaen Changaseom<br></a>
    </div><br>

    <div class="jean">
        <img src="../static/images/jean_edited.png" width="250px"><br>
        ชื่อ: วัฒนชัย สีเหลือง<br>
        ชื่อเล่น: จีน<br>
        รหัส: 67070279<br>
        เบอร์: 0935168757 <br>
        mail: 67070279@kmitl.ac.th<br>
        IG: <a href="https://www.instagram.com/wseelueng/">wseelueng<br></a>
    </div><br>
</body>

</html>